<ion-view view-title="E-Learning">
  <ion-content>
  

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="topic in topics" type="item-text-wrap" href="#/tab/dash/{{topic.id}}">
        <img ng-src="{{topic.image}}">
        <h2>{{topic.title}}</h2>
        <p>{{topic.subtitle}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>  
  <!-- <div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="img/msword.jpg">
      <h2>Microsoft Word</h2>
      <p>Word Document Processor</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>Microsoft Excel</h2>
      <p>Spreadsheet Program</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>Microsoft PowerPoint</h2>
      <p>Presentation Program</p>
    </a>    

  </div> -->

  </ion-content>

</ion-view>
