<ion-view view-title="E-Learning">
  <ion-content>

	<div class="list">

	  <div class="item item-divider">
	    Quiz
	  </div>

	  <a class="item item-icon-right" href="#/tab/quiz/12345">
	    Word Quiz
	    <i class="icon ion-chevron-right icon-accessory"></i>
	  </a>

	  <a class="item item-icon-right" href="#">
	    Excel Quiz
	    <i class="icon ion-chevron-right icon-accessory"></i>
	  </a>

	  <a class="item item-icon-right" href="#">
	    Powerpoint Quiz
	    <i class="icon ion-chevron-right icon-accessory"></i>
	  </a>

	  <div class="item item-divider">
	    Progress
	  </div>

	  <a class="item" type="item-text-wrap" href="#">
	    <h2>Word Quiz Attempts</h2>
	    <p>
	    	100/100 - 100% (Congratulations!)
	    </p>
	  </a>

	  <a class="item" type="item-text-wrap" href="#">
	    <h2>Excel Quiz Attempts</h2>
	    <p>
	    	30/100 - 30%
	    </p>
	  </a>

	  <a class="item" type="item-text-wrap" href="#">
	    <h2>Powerpoint Quiz Attempts</h2>
	    <p>
	    	0/100 - 0%
	    </p>
	  </a>	  	  

	</div>

  </ion-content>
</ion-view>
