<ion-view view-title="E-Learning">
  <ion-content>
    <ion-list>
      <!-- <ion-item class="item item-icon-left item-icon-right" ng-repeat="game in games" type="item-text-wrap" href="#/tab/games/{{game.id}}">
        <i class="icon {{game.icon}}"></i>
        <h2>{{game.title}}</h2>
        <p>{{game.subtitle}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item> -->

      <ion-item class="item item-icon-left item-icon-right" type="item-text-wrap" href="#/tab/games/12345">
        <i class="icon ion-images"></i>
        <h2>Game One</h2>
        <p>Game One Description Here...</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item item-icon-left item-icon-right" type="item-text-wrap" href="#/tab/games/12343">
        <i class="icon ion-images"></i>
        <h2>Game Two</h2>
        <p>Game Two Description Here...</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>      

    </ion-list>
  </ion-content>
</ion-view>
